@model PatronVisitor.Models.Procesador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Procesador</h4>
    <hr />
    <dl class="row">
            @Model.Aceptar()
        
        
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>

